body {
  font-family: 'Kanit', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #666;
  text-decoration: none;
}

/* Header */
#top-red-bar {
  position: relative;
  background: #fa2e2e;
  height: 30px;
  line-height: 28px;
  font-size: 13px;
}

#top-red-bar ul {
  list-style: none;
  text-align: right;
  padding: 1px 10px;
  margin: 0;
  font-size: 12px;
}

#top-red-bar ul li a, #footer ul li a, #primary-menu a, .footer-social a {
  color: #fff;
}
#top-red-bar ul li a:hover, #footer ul li a:hover, #primary-menu a:hover, .footer-social a:hover {
  color: #eee;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

#header {
  height: 70px;
}

#header, #logo {
  z-index: 99999;
}

/* Header Dark Bar */
#logo {
  position: absolute;
  float: left;
  font-size: 36px;
  line-height: 100%;
  margin-right: 40px;
  height: 70px;
  top: -30px;
}

#logo img {
  height: 120px;
  transition: height .4s ease;
}

#primary-menu {
  float: right;
  padding: 0;
}

#primary-menu a {
  display: block;
  line-height: 22px;
  padding: 24px 15px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #333;
}

@media only screen and (max-width: 1199px) {
  #primary-menu a {
    font-size: 10px;
  }
}
@media only screen and (max-width: 992px) {
  #logo img {
    height: 70px;
  }
  #header{
    height: auto;
  }
  #primary-menu {
    width: 100%;
    float: left;
  }
  #primary-menu a {
    padding: 14px 5px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.1);
  }
  #primary-menu button {
    right: 0;
  }
  .navbar-toggler-icon i {
    line-height: 30px;
    color: #fff;
  }
}

.sticky {
  position: sticky;
  top: 0;
}
.sticky #logo {
  height: 70px;
  top: 0;
}
.sticky #logo img {
  height: 70px;
  top: 0;
}

/* content */
/* index page */
#content {
  z-index: 20 !important;
  position: relative;
  padding: 50px 0;
  line-height: 1.8;
}

.header-part {
  position: relative;
  padding: 50px 0 30px 0;
}
.header-part h1 {
  font-size: 36px;
  color: red;
  font-weight: normal;
  margin: 0;
}
.header-part h1 span {
  color: #333;
}
.header-part h1 i {
  color: #333;
  font-style: normal;
  font-family: 'Kanit-ExtraLight', sans-serif;
}
.round-button {
  border: none;
  background: none;
  position: absolute;
  right: 0;
  top: 55.5px;
}
.round-button i {
  color: #fff;
  background-color: #ff0000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.index-content h1{
  font-family: 'Kanit-Medium', sans-serif;
  font-size: 36px;
  margin: 0;
}
.index-content h2{
  font-family: 'Kanit-ExtraLight', sans-serif;
  font-size: 28px;
  color: #666;
  margin: 0;
}
.index-content p{
  font-family: 'Kanit-Light', sans-serif;
  font-size: 15px;
  color: #666;
  margin: 0;
}
.index-content .col-md-8 a {
  color: red;
}
.index-content .col-md-8 a:hover {
  color: #333;
}

.img-and-link {
  text-align: center;
  margin-bottom: 25px;
}
.img-and-link img.img-fluid {
  margin-bottom: 20px;
}
.img-and-link a {
  font-weight: 500;
  font-size: 18px;
  color: red;
}

.align-right {
  text-align: right;
}

h4.card-title {
  font-size: 18px;
  font-weight: 400;
}

.card-button, .card-button i {
  font-size: 18px;
  line-height: 40px;
  transition: all .4s;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.card-button {
  color: #fff;
  font-family: 'Kanit-Light', sans-serif;
  padding: 0 32px;
  position: relative;
  background-color: red;
  overflow: hidden;
}
.card-button i {
  width: 38px;
  height: 40px;
  position: absolute;
  right: -38px;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
}
.card-button:hover {
  color: #fff;
  padding: 0 51px 0 13px;
}
.card-button:hover i {
  right: 0;
}

@media only screen and (max-width: 992px) {
  .align-right {
    text-align: left;
  }
  .index-content {
    margin-bottom: 25px;
  }
}

/* footer */
#footer {
  z-index: -10;
  position: relative;
  background-color: #f01c24 !important;
  color: #CCC;
  border-top-color: rgba(0,0,0,0.2);
  background-image: url(../img/footer-flag.png);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

#footer h1, #footer p, #footer ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
#footer p, #footer ul li a, .footer-social a {
  font-weight: 200;
}
#footer ul {
  list-style: none;
  padding: 0;
}
#footer .col-md-3 img {
  padding: 15px 0;
}

.footer-social {
  padding: 10px 0;
  overflow: hidden;
}
.footer-social a {
  float: left;
  font-size: 14px;
}

.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  position: relative;

  margin-right: 8px;
  background-color: #fff;
  transition: all .4s;
}
.social-icon i {
  font-size: 20px;
  line-height: 40px;
  display: block;
  color: #f01c24;
  transition: all .4s;
}
.social-icon i:nth-child(2) {
  color: #fff;
}
.social-icon:hover {
  background-color: #3b5998;
}
.social-icon:hover i {
  transform: translateY(-40px);
}

/* owl button */
.owl-next, .owl-prev {
  width: 60px;
  height: 60px;
  position: absolute;
  top: calc(50% - 30px);
  opacity: 0;
  background-size: cover !important;
  background-position: center;
  transition: all .4s;
}
.owl-next:hover, .owl-prev:hover {
  background-color: #fff0 !important;
}
.owl-next {
  right: -36px;
  background-image: url(../img/owl-next.png) !important;
}
.owl-prev {
  left: -36px;
  background-image: url(../img/owl-prev.png) !important;
}
.disabled {
  display: none !important;
}
.owl-carousel:hover .owl-next {
  right: -75px;
  opacity: 1;
}
.owl-carousel:hover .owl-prev {
  left: -75px;
  opacity: 1;
}

/* swipe slide show */
.swiper-button-prev, .swiper-button-next {
  width: 52px;
  height: 52px;
  font-size: 34px;
  line-height: 50px;
  border-radius: 3px 0 0 3px;
  color: rgba(255,255,255,0.8);
  background-color: rgba(0,0,0,0.3);
  transition: all .4s;
}
.swiper-button-prev {left: 0;}
.swiper-button-next {right: 0;}
.swiper-button-prev:after, .swiper-button-next:after  {
  content: none !important;
}
.swiper-button-prev:hover, .swiper-button-next:hover  {
  background-color: rgba(0,0,0,0.5);
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom: 50px;}
.swiper-pagination span {
  width: 15px;
  height: 15px;
}
.swiper-pagination span:hover, .swiper-pagination span.swiper-pagination-bullet-active {
  background-color: red !important;
}
.content-bg {
  position: absolute;
  z-index: 10 !important;
  margin-top: -50px;
}

/* bootstrap */
.bg-dark {
  background-color: #333 !important;
}
.container {
  position: relative;
}
